.psmodal-content-container .grid-container {
  --cell-bgc: rgb(111, 162, 185);
  --cell-size: min(100vw / 2 / 10 - 1rem, var(--max-width) / 1.5 / 10 - 1rem);
  --cells-highlight: rgb(216, 137, 137);
  --ship-color: rgb(83, 75, 75);
  display: grid;
  gap: 0.3rem;
  grid-template-columns: repeat(10, var(--cell-size));
  grid-template-rows: repeat(10, var(--cell-size));
}

.psmodal-content-container .ship-type {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem 0;
  animation-name: slideIn;
  animation-duration: 400ms;
  overflow: hidden;
}
@keyframes slideIn {
  0% {
    margin-left: 50%;
  }

  100% {
    margin-left: 0%;
  }
}
.psmodal-content-container .cell {
  transition-property: background-color, border-radius;
  transition-duration: 300ms;
}
.psmodal-content-container .cell.occupied {
  background-color: var(--ship-color);
}

.psmodal-content-container .hovered {
  background-color: var(--cells-highlight);
}

.psmodal-content-container .cell.v-ship-start {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.psmodal-content-container .cell.v-ship-end {
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.psmodal-content-container .cell.h-ship-start {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.psmodal-content-container .cell.h-ship-end {
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}
