:root {
  --cell-size: calc(100vw / 2 / 10 - 1rem);
  --enemy-bgc: #ae5656;
  --player-bgc: #5656ae;
  --main-bgc: rgb(70, 85, 92);
  --header-bgc: var(--main-bgc);
  --cell-bgc: rgb(111, 162, 185);
  --modal-bgc: var(--player-bgc);
  --cell-occupied: #ae9999;
  --shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: AlfaSlab;
  src: url(../fonts/AlfaSlabOne-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body {
  font-family: AlfaSlab, 'Courier New', Courier, monospace;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

button {
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  border: none;
  font-weight: bold;
  background-color: var(--enemy-bgc);
  box-shadow: var(--shadow);
}
button:hover {
  scale: 0.95;
}
button:active {
  scale: 0.9;
}

.header {
  background-color: var(--header-bgc);
  display: grid;
  color: white;
  justify-content: center;
}

.main {
  background-color: var(--main-bgc);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.enemyField,
.playerField {
  margin: 1rem;
  border-radius: 0.5rem;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-rows: auto 1fr auto;
  padding: 1rem;
}

.playerField {
  background-color: var(--player-bgc);
}

.enemyField {
  background-color: var(--enemy-bgc);
}

.board {
  display: grid;
  grid-template-columns: repeat(10, var(--cell-size));
  grid-template-rows: repeat(10, var(--cell-size));
  gap: 0.2rem;
}

.cell {
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: var(--cell-bgc);
}
.cell:hover:not(.missed):not(.hit) {
  scale: 0.95;
  background-color: #cdcdcd;
}

.cell.occupied {
  background-color: var(--cell-occupied);
}

.cell.hit {
  background-color: red;
}

.cell.missed {
  background-color: #343434;
}

.boats {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 0.5rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.boat {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
}

.boat-slots {
  display: grid;
  grid-template-columns: repeat(5, var(--cell-size));
  grid-template-rows: var(--cell-size);
  gap: 0.2rem;
  justify-content: end;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #34343477;
  padding: 20vh 2rem;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-content: flex-start;
}

.modal-content {
  background-color: var(--modal-bgc);
  border-radius: 0.5rem;
  padding: 2rem;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.visible {
  display: grid;
}

.shadow {
  box-shadow: var(--shadow);
}
